In [12]:
import pandas as pd
import xgboost as xgb
import pickle
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, average_precision_score, roc_auc_score, classification_report

In [13]:
df = pd.read_csv("final_ev.csv")
df = df.drop(['Unnamed: 0'], axis=1)

In [14]:
df.head()

,latitude,longitude,college,food_court,hospital,parking,restaurant,university,charging_station
0,51.510359,-0.187704,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,51.403444,-0.255276,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,51.465290,-0.058371,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,51.438312,-0.156274,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,51.358167,-0.216632,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [15]:
X = df.drop(['charging_station'], axis=1)
y=df['charging_station']

In [16]:
X = X.to_numpy()
y = y.to_numpy()

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=0, test_size=0.2)

In [18]:
cls = xgb.XGBClassifier(objective="binary:logistic", random_state=42)
cls.fit(X_train, y_train)

XGBClassifier(random_state=42)

In [19]:
labels = cls.predict(X_train)
print(classification_report(y_train, labels))
print('Confusion Matrix')
print(confusion_matrix(y_train, labels))

              precision    recall  f1-score   support

         0.0       0.86      1.00      0.92      3492
         1.0       1.00      0.81      0.89      2960

    accuracy                           0.91      6452
   macro avg       0.93      0.90      0.91      6452
weighted avg       0.92      0.91      0.91      6452

Confusion Matrix
[[3490    2]
 [ 565 2395]]

In [20]:
labels = cls.predict(X_test)
print(classification_report(y_test, labels))
print('Confusion Matrix')
print(confusion_matrix(y_test, labels))

              precision    recall  f1-score   support

         0.0       0.88      1.00      0.93       914
         1.0       1.00      0.82      0.90       700

    accuracy                           0.92      1614
   macro avg       0.94      0.91      0.92      1614
weighted avg       0.93      0.92      0.92      1614

Confusion Matrix
[[913   1]
 [129 571]]

In [21]:
pickle.dump(cls, open("optimal_pred_model.dat", "wb"))

In [22]:
def predict_optimal_place(long,lati):
  new_model = pickle.load(open("optimal_pred_model.dat", "rb"))
  #placeholder to return long,lat and other data of shape (8,)
  #ip_features = 

  pred = new_model.predict(ip_features.reshape(-1,1).T)
  del new_model
  return pred